<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878201637139-jqe669djg6lhom0qvnqrj2ddbafcasn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878201637139-jqe669djg6lhom0qvnqrj2ddbafcasn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBQCTWSGTCrJIDeGt6Z9wItachIJlA9E-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>878201637139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zavygy.documents</string>
	<key>PROJECT_ID</key>
	<string>document-relay</string>
	<key>STORAGE_BUCKET</key>
	<string>document-relay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878201637139:ios:5df0b5a8d3afca5c9832e6</string>
	<key>DATABASE_URL</key>
	<string>https://document-relay.firebaseio.com</string>
</dict>
</plist>