<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409413323273-o35ng8mlbb617tajlo1jfl88rn7fiv0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409413323273-o35ng8mlbb617tajlo1jfl88rn7fiv0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCdj-HWXE3bgd2DRbYqHHJmOVEJh8GOzlI</string>
	<key>GCM_SENDER_ID</key>
	<string>409413323273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zavygy.docRelay</string>
	<key>PROJECT_ID</key>
	<string>documentsbeta</string>
	<key>STORAGE_BUCKET</key>
	<string>documentsbeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409413323273:ios:28cda72e290d8252aec6d8</string>
	<key>DATABASE_URL</key>
	<string>https://documentsbeta.firebaseio.com</string>
</dict>
</plist>